:root{
    --blue:#4584EE;
    --white:#FFFFFF;
    --gray:#F2F2F2;
    --dark-gray: #272727;
    --opt-gray: #404040;
    --search-gray: rgb(223, 225, 229);
}
body {
    height: 100vh;
    width:auto;
    margin:0;
}
li {
    list-style: none;
    width: fit-content;
    /* font-size: 13px; */
    color: var(--dark-gray)
}

.li-header {
    font-size: 13px;
    /* height: 30px; */
}

.li-footer {
    font-size: 14px;
    color: rgb(95, 99, 104);
    line-height: 40px;
}

a {
    text-decoration: none;
    font-family: arial,sans-serif;
    /* font-size: 13px; */
    /* line-height: 24px; */
    color: var(--dark-opta)
}


header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 89px;
    /* font-size: 14px; */
}

#div{
    width: fit-content;
}

#left-menu {
    display: flex;
    width: 100%;
    /* gap: 15px; */
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding-left: 25px;
}

#right-menu {
    display: flex;
    width: 220.938px;
    justify-content: space-between;
    padding:0px 30px 0px 0px;
    margin-right: 0px;
    align-items:center;
    align-content: center;

}

.apps {
    padding-top: 5px;
}

.btn {
    background-color: var(--blue);
    height: 30px;
    color: white;
    width: 69.3438px;
    padding: 0px 12px;
    align-items: center;
    border: var(--blue) 1px solid;
    border-radius: 2px;
    font-weight: 700;
    font-size: 13px;
}

.btn:active {
    background-color: #3E78DA;
    height: 30px;
    color: white;
    width: 69.3438px;
    padding: 0px 12px;
    align-items: center;
    border: var(--blue) 1px solid;
    border-radius: 2px;
    font-weight: 700;
    font-size: 13px;
}

.link:hover {
    text-decoration: underline;
}

#main-cont {
    width: 800px;
    margin: auto;
    padding-top: 109px;
}

#logo-cont {
    width: fit-content;
    margin: auto;
}

#logo {
    aspect-ratio: 272 / 92;
}

/* #search-cont {
    height: 46px;
} */

#search-bar {
    display: flex;
    width: 584px;
    height: 44px;
    justify-content: space-between;
    align-content: center;
    margin: auto;
    border: var(--search-gray) 1px solid;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding: 0px;
    margin-top: 23px;
}

#search-bar:hover {
    display: flex;
    width: 584px;
    height: 44px;
    justify-content: space-between;
    align-content: center;
    margin: auto;
    border: var(--search-gray) 1px solid;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding: 0px;
    margin-top: 23px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

#search-bar-input>input {
    border: none;
    font-size: 16px;
    padding:0px;
    padding-top: 5px;
    height: 34px;
    width: 487px;
}

#search-bar-input>input:focus {
    outline: none;
}

#magnifier {
    align-self:center;
    padding-top: 5px;
    padding-left: 10px;
    color: #9AA0A6;
}

#microphone {
    align-self: center;
    padding-top: 5px;
    padding-right: 10px;
    color: #9AA0A6;
}

#search-btn {
    margin: auto;
    width: fit-content;
    padding-top: 18px;
    /* font-size: 14px;
    height: 36px; */
}

.search-btn-style {
    font-size: 14px;
    background-color: #F2F2F2;
    color:#5F6368;
    border: 1px solid rgb(242,242,242);
    border-radius: 4px;
    height: 34px;
    padding: 0 16px;
    margin: 11px 4px
}

.search-btn-style:hover {
    font-size: 14px;
    background-color: #F2F2F2;
    color:#222;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    height: 34px;
    padding: 0 16px;
    margin: 11px 4px
}

footer {
    display: flex;
    height: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--gray);
    border-top: rgb(209, 209, 209) 1px solid;
}

#footer-left {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* margin-bottom: 20px; */
    padding-left: 27px;
    margin:0;
}

#footer-right {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 30px;
    width: 200px;
    margin: 0px 0px 0px 0px;
    /* margin:0px; */
    /* margin-bottom: 20px; */
}